@model LibraryWebApp.Models.LibraryViewModels.ItemViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="ItemEdit">
    <div class="form-horizontal">
        <h4>Item</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Item.ItemId" />
        <input type="hidden" asp-for="Item.RowVersion" />
        <div class="form-group">
            <label asp-for="Item.Condition" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Item.Condition" class="form-control" />
                <span asp-validation-for="Item.Condition" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Item.CurrentLocation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Item.CurrentLocation" class="form-control" />
                <span asp-validation-for="Item.CurrentLocation" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Item.Material" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Item.Material" class="form-control" />
                <span asp-validation-for="Item.Material" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Item.Title" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="Item.TitleId" class="form-control" asp-items="ViewBag.TitleId"></select>
                <span asp-validation-for="Item.TitleId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="ItemIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
