@model LibraryWebApp.Models.LibraryViewModels.SectionViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="SectionEdit">
    <div class="form-horizontal">
        <h4>Section</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Section.SectionId" />
        <input type="hidden" asp-for="Section.RowVersion" />
        <div class="form-group">
            <label asp-for="Section.Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Section.Description" class="form-control" />
                <span asp-validation-for="Section.Description" class="text-danger" ></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Section.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Section.Name" class="form-control" />
                <span asp-validation-for="Section.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="SectionIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
