@model LibraryWebApp.Models.LibraryViewModels.TitleViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="TitleCreate">
    <div class="form-horizontal">
        <h4>Title</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title.Annotation" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.Annotation" class="form-control" />
                <span asp-validation-for="Title.Annotation" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.Author" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.Author" class="form-control" />
                <span asp-validation-for="Title.Author" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.ISBN" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.ISBN" class="form-control" />
                <span asp-validation-for="Title.ISBN" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.Name" class="form-control" />
                <span asp-validation-for="Title.Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.Publisher" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.Publisher" class="form-control" />
                <span asp-validation-for="Title.Publisher" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.SectionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Title.SectionId" class ="form-control" asp-items="ViewBag.SectionId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.Type" class="form-control" />
                <span asp-validation-for="Title.Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title.Year" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title.Year" class="form-control" />
                <span asp-validation-for="Title.Year" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="TitleIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
